@use '../../../styles/global.scss' as *;

.window__body {
    position: fixed;
    inset: 0;
    z-index: 4;
    @include flex__box(column, center, center);
}

.window__mask {
    position: absolute;
    inset: 0;
    background-color: #0005;
    z-index: 5;
}

.window__container {
    position: relative;
    padding: 5vh 5%;
    background-color: #FFF;
    gap: 1vh;
    border: 3px solid $color2;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    z-index: 6;

    @include box(50%, 5%);
    @include flex__box(column, center, center);
}

.window__title {
    letter-spacing: 2px;

    @include text(140%, 800, $color3);
}

.window__options__box {
    @include box(100%, 0, auto, 3vh);
    @include flex__box(row, center, space-between);
}

.window__option {
    background-color: $color3;
    padding: 1vh 2vw;
    border-radius: 15px;
    outline: 1px solid #000;
    outline-offset: -1px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 1s, outline .5s;

    @include text(130%, 600, $color1);

    &:hover {
        transform: scale(1.1);
        outline: 2px solid $color2;
    }
}