@use '../../styles/global.scss' as *;

.modal__window__mask {
    position: fixed;
    inset: 0;
    background-color: #0009;

    @include flex__box(column, center, center);
}

.modal__window__container {
    position: relative;
    left: 0;
    padding: 5vh 25%;
    background: linear-gradient(to bottom, #f0f0f0, #b0b0b0, #707070);
    text-transform: uppercase;
    gap: 0.3vw;
    z-index: 2;
    border-radius: 15px;
    border: 3px solid $color1;
    border-right: unset;
    border-left: unset;

    @include box(80%, 15%);
    @include flex__box(column, center, center);
}

.modal__window__title {
    text-shadow: 0px 0px 1px #000;
    letter-spacing: 7px;

    @include text(150%, 800);
}

.modal__window__text {
    @include text(120%, 600, $color3);
}

.title__win {
    color: green;
}

.title__loss {
    color: red;
}

.modal__window__mask button {
    margin-top: 3vh;
    outline: 1px solid #FFF;
}
